---
pagination:
    data: tiendas
    size: 1
    alias: store
permalink: "comprar/{{ store.slug }}/"
---
<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Google Tag Manager -->
  <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-PDDTBZD');
  </script>
  <!-- End Google Tag Manager -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <title>Comprar {{ store.titulo }} | Paradigmas</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="{{ store.titulo }}. {{ store.subtitulo }}. {{ store.beneficios }}." name="description">
  <meta content="" name="keywords">
  <!-- Meta OG -->
  <meta property="og:title" content="{{ store.titulo }}">
  <meta property="og:description" content="{{ store.descripcion }}.{{ store.beneficios }}">
  <meta property="og:image" content="/images/isotipo_paradigmas.png">
  <meta property="og:type" content="website">
  <!-- Favicons -->
  <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">
  <!-- =======================================================
      * Template Name: Techie - v4.9.0
      * Template URL: https://bootstrapmade.com/techie-free-skin-bootstrap-3/
      * Author: BootstrapMade.com
      * License: https://bootstrapmade.com/license/
  ======================================================== -->  
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PDDTBZD" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    
    <div id="loading-modal" style="z-index: 1;">

      <div class="modal" style="display: block;">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Muchas gracias</h1>
            </div>
            <div class="modal-body">
              <div class="modal-loader d-flex justify-content-center m-3">
                <img src="/images/loading.gif" loading="lazy" alt="" class="image-3" width="100px">
              </div>
              <br>
              <div class="modal-text  d-flex justify-content-center m-3">
                <p>Por favor espere mientras procesamos su compra...</p>
              </div>
              
            </div>
          </div>
        </div>  

      </div>


        
      </div>
    </div>

    <div class="prueba">

      
      
      
      
    </div>


  

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Muchas gracias</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

      </div>
      <div class="modal-body">
        Por favor espere
      </div>
    </div>
  </div>
</div>

  
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo"><a href="/index.html">Paradigmas</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#cart">Carrito</a></li>
          <li><a class="nav-link scrollto " href="#faq">FAQ</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contacto</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>
  <!-- End Header -->


  <!-- ======= CART Section ======= -->
  <section id="cart" class="contact section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Mi Carrito</h2>
      </div>
      <form id="email-form" name="email-form" data-name="Cart Form" method="post" action="https://hook.us1.make.com/n14b8s2eq0nksvgevavopxyck8xt7fxt">

        <div class="container overflow-hidden text-center">
          <div class="row gx-5">
            <div class="col">
              <div class="info-box mb-4">
                <h3 class="m-3">Resumen de tu compra</h3>
                <div class="card m-3">
                  <div class="card-body">
                    <div class="d-flex">
                      <div class="col nombre">
                        <p class="item-title text-start">{{ store.titulo }}</p>
                      </div>
                      <div class="col precio text-end">
                        <p class="item-price"><span>{{ store.simbolo }}</span><span class="format-number">{{ store.precio-original }}</span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card m-3">
                  <div class="card-body">
                    <div class="d-flex flex-row">
                      <div class="col promo">
                        <p class="item-discount text-start">PROMO <span>{{ store.descuento-porcentual }}</span>% OFF</p>
                      </div>
                      <div class="col precio text-end">
                        <p class="item-price">-<span>{{ store.simbolo }}</span><span class="format-number">{{ store.descuento-neto }}</span></p>
                      </div>
                    </div>
                  </div>
                </div>
                {% if store.valor-upsale-1 > 0 %}
                <div class="card m-3">
                  <div class="card-body">
                    <p class="item-title">¿Quieres sumar esta oferta exclusiva a tu compra?</p>
                    <!-- UPSALE 1 -->
                    <div class="row">
                      <div class="col-6">
                        <input type="checkbox" id="upsale-1" name="upsale-1" data-name="upsale-1" class="form-check-input">
                        <label for="upsale-1" class="form-check-label">{{ store.titulo-upsale-1 }}</label>
                      </div>
                      <div class="col-6 d-flex justify-content-end">
                        <span>+</span>
                        <span>{{ store.simbolo }}</span>
                        <span>{{ store.valor-upsale-1 }}</span>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col">
                        <p>{{ store.texto-upsale-1 }}</p>
                      </div>
                    </div>
                    <!-- Fin UPSALE 1 -->
                    {% if store.valor-upsale-2 > 0 %}
                      <!-- UPSALE 2 -->
                      <div class="row">
                        <div class="col-6">
                          <input type="checkbox" id="upsale-2" name="upsale-2" data-name="upsale-2" class="form-check-input">
                          <label for="upsale-2" class="form-check-label">{{ store.titulo-upsale-2 }}</label>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                          <span>+</span>
                          <span>{{ store.simbolo }}</span>
                          <span>{{ store.valor-upsale-2 }}</span>
                        </div>
                      </div>
  
                      <div class="row">
                        <div class="col">
                          <p>{{ store.texto-upsale-2 }}</p>
                        </div>
                      </div>
                      <!-- Fin UPSALE 2 -->
                    {% endif %}

                  </div>
                </div>
                {% endif %}
                <div class="total m-3">
                  <div class="total_wrapper price-1 m-3">
                    <span>TOTAL:</span>
                    <span>{{store.simbolo}}</span>
                    <span>{{store.precio-total-1}}</span>
                  </div>
  
                  <div class="total_wrapper price-2 m-3">
                    <span>TOTAL:</span>
                    <span>{{store.simbolo}}</span>
                    <span>{{store.precio-total-2}}</span>
                  </div>
  
                  <div class="total_wrapper price-3 m-3">
                    <span>TOTAL:</span>
                    <span>{{store.simbolo}}</span>
                    <span>{{store.precio-total-3}}</span>
                  </div>
  
                  <div class="total_wrapper price-4 m-3">
                    <span>TOTAL:</span>
                    <span>{{store.simbolo}}</span>
                    <span>{{store.precio-total-4}}</span>
                  </div>
  
                  <div class="aclaraciones m-3">
                    <p>Pago por única vez</p>
                    <p>Precios expresados en <span>{{store.moneda}}</span></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="info-box">
                <h3 class="m-3">Ingresa tus datos</h3>
                <div class="w-embed">
                  <input type="hidden" name="cart-code" value="{{ store.slug }}">
                  <input type="hidden" id="geo-country" name="geo-country" value="">
                  <input type="hidden" id="geo-region" name="geo-region" value="">
                  <input type="hidden" id="geo-city" name="geo-city" value="">
                </div>
                <div class="form-group m-3">
                  <label for="name">Nombre</label>
                  <input type="text" name="name" id="name" placeholder="Nombre *" class="form-control" required>
                </div>
                <div class="form-group m-3">
                  <label for="lastname">Apellido</label>
                  <input type="text" name="lastname" id="lastname" placeholder="Apellido *" class="form-control" required>
                </div>
                <h4 class="m-3">¿Dónde deseas recibir tu Cuadernillo?</h4>
                <div class="form-group m-3">
                  <label for="email">Dirección de Email</label>
                  <!-- <input type="email" name="email" id="email" aria-describedby="emailHelp" placeholder="Email *" class="form-control" required> -->
                  <input type="email" name="email" id="email" aria-describedby="emailHelp" placeholder="Email *" class="form-control">
                  <small id="emailHelp" class="form-text text-muted">No compartiremos tu email con nadie.</small>
                </div>
                {% assign options = store | hasPaymentOptions %}
                {% if options %}
                  <div class="m-3 formas-de-pago">
                    <p>Elige la forma de pago</p>
                    <div class="options m-3"></div>
                    <input class="m-1" type="radio" checked data-name="MediodePago" id="Tarjeta" name="MediodePago"  value="Stripe"><span for="Tarjeta">Tarjeta de Crédito / Débito</span>
                    <br>
                    <input class="m-1" type="radio" data-name="MediodePago" id="Paypal" name="MediodePago"  value="Paypal"><span for="Paypal">Paypal</span>
                  </div>
                  {% elsif store.pais == "ars" %}
                    <input type="hidden" name="MediodePago" value="Mercadopago">
                  {% else %}
                    <input type="hidden" name="MediodePago" value="Stripe">
                  {% endif %}
                  <br>
                  <div class="d-grid gap-2">
                    <button id="botoncomprar" class="btn btn-primary m-3" type="submit">Comprar</button>
                  </div>

              </div>
            </div>
          </div>
        </div>
      </form>
  

      </div>

    </div>
  </section>
  <!-- End Cart Section -->

  <!-- ======= Producto Section ======= -->
  <section id="producto" class="features">
    <div class="container" data-aos="fade-up">
        <!-- cycle section start -->
        <div class="cycle_section layout_padding">
            <div class="container">
                <h1 class="cycle_taital">{{ store.titulo }}</h1>
                <p class="cycle_text">{{ store.subtitulo }} </p>
                <div class="cycle_section_2 layout_padding">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="box_main">
                                <h6 class="number_text"></h6>
                                <div class="image_2"><img src="{{ store.portada }}"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h1 class="cycles_text">En esta edición</h1> 
                            <p class="lorem_text">
                                {{ store.descripcion }}
                                <br><br>
                                <ul>
                                    <li class="beneficios">{{ store.beneficios1 }}</li>
                                    <li class="beneficios">{{ store.beneficios2 }}</li>
                                    <li class="beneficios">{{ store.beneficios3 }}</li>
                                    <li class="beneficios">{{ store.beneficios4 }}</li>
                                </ul>
                            </p>
                            <p class="lorem_text">
                                {{ store.sobre-nosotros }}
                            </p>
                            <div class="btn_main">
                                <!-- <a href="/tienda/alfa-{{ home.slug }}" class="btn-get-started scrollto">Ver más</a> -->
                                <!-- <div class="buy_bt"><a href="#">Comprar</a></div> -->
                                <h4 class="price_text">
                                    Precio <span style=" color: #11a9f5">{{  store.simbolo  }}</span>
                                    <span class="format-number" style=" color: #d87cc3">{{ store.precio-total-1 }}</span>
                                    <br>
                                    <del>{{ store.simbolo }} <span class="format-number">{{ store.precio-original }}</span></del>
                                    <br>
                                    <!-- {{ store.moneda }} -->
                                </h4>
                            </div>
                            <a href="#" class="btn btn-outline-light btn-lg btn-get-started scrollto">Comprar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- cycle section end -->
    </div>
</section>
  <!-- End Producto Section -->

  <!-- ======= Frequently Asked Questions Section ======= -->
  <section id="faq" class="faq">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Preguntas Frecuentes</h2>
            <p>Consultá las dudas que tengas de Paradigmas. Si no encontras lo que buscas, no dudes en contactarnos.</p>
        </div>
        <div class="faq-list">
            <ul>
                <li data-aos="fade-up" data-aos="fade-up" data-aos-delay="100">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">¿Cómo accedo al material? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                        <p>
                            Una vez confirmada la compra, recibirás un correo electrónico con el link de descarga del material.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="200">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">¿Es segura la plataforma de pago que utilizan? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Sí. Las operaciones se realizan mediante plataformas integradas a nuestras páginas web (Mercado Pago, Stripe) que garantizan la privacidad y total seguridad de sus datos personales.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="300">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">¿Cuáles son los medios de pago admitidos? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Para Argentina los medios de pago admitidos son: débito, crédito y efectivo en puntos de pago. Para el resto de Latinoamérica, admitimos tarjetas de crédito.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="400">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">¿Puedo solicitar una versión impresa? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Nuestros productos son 100% digitales para que puedas imprimirlo las veces que quieras.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="500">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Compré y no me ha llegado el mail, ¿qué debo hacer? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            En primer lugar, sugerimos revisar el spam o correo no deseado. Si no se encuentra allí, debes comunicarte con algún representante de Paradigmas, comentarle la situación y compartirle el correo electrónico registrado a la hora de hacer la compra para que podamos reenviar el material adquirido.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="600">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-6" class="collapsed">¿Cómo puedo contactarme con un representante de Paradigmas? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-6" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Puede contactarse por cualquiera de nuestras redes sociales, escribiendo a hola@paradigmas.digital o a nuestro teléfono +54 9 xxxxxxxxx
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="700">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-7" class="collapsed">¿Es necesario empezar por el primer cuadernillo? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-7" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            No, ya que los cuadernillos no son correlativos; puedes comprar el que prefieras y en el orden que quieras.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="800">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-8" class="collapsed">¿Cuántas páginas/ejercicios contiene? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-8" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Los cuadernillos de estimulación cognitiva tienen entre 45 y 70 páginas.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="900">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-9" class="collapsed">¿Las respuestas a los ejercicios vienen incluídas? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-9" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Sí, las soluciones se encuentran en las últimas páginas.
                        </p>
                    </div>
                </li>

            </ul>
        </div>
    </div>
  </section>
  <!-- End Frequently Asked Questions Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Contacto</h2>
        <p>Escribinos.</p>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="info-box  mb-4 d-flex justify-content-center flex-column">
            <i class="bx bx-envelope d-flex justify-content-center"></i>
            <h3 class="d-flex justify-content-center">Email</h3>
            <p class="d-flex justify-content-center">hola@paradigmas.digital</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="info-box  mb-4 d-flex justify-content-center flex-column">
            <i class='bx bxl-whatsapp d-flex justify-content-center'></i>
            <h3 class="d-flex justify-content-center">WhatsApp</h3>
            <p class="d-flex justify-content-center">Escribinos (agregar link)</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="info-box  mb-4 d-flex justify-content-center flex-column">
            <i class='bx bxl-instagram d-flex justify-content-center'></i>
            <a href="https://www.instagram.com/paradigmas.digital"><h3 class="d-flex justify-content-center">Instagram</h3></a>
            <a href="https://www.instagram.com/paradigmas.digital"><p class="d-flex justify-content-center">Seguinos</p></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <form action="https://hook.us1.make.com/4vmel97jj2gmftsl2m6cvep3i7hf3f21" method="post" class="new-email-form">
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Tu nombre" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Tu Email" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" id="message" rows="5" placeholder="Mensaje" required></textarea>
            </div>
            <div class="row">
              <button class="text-center mt-3" type="submit">Enviar mensaje</button>
            </div>      
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>Paradigmas</h3>
                    <p>
                        <strong>WhatsApp:</strong> +54 CAMBIAR<br>
                        <strong>Email:</strong> hola@paradigmas.digital<br>
                    </p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Links útiles</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="https://instagram.com/paradigmas.digital">Instagram</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Términos y condiciones</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Política de privacidad</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Nuestras colecciones</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/ver/griegos">Mente Griega</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/ver/cardinales">Mente Espacial</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Unite a nuestro Newsletter</h4>
                    <p>Enterate de nuestras novedades antes que cualquiera.</p>
                    <form action="https://hook.us1.make.com/v82i0dhtyrtbei25qotdimkrry3vg1eo" method="post">
                        <input type="email" name="email" placeholder="Tu Email" required><input type="submit" value="Subscribirse">
                      </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="copyright-wrap d-md-flex py-4">
            <div class="me-md-auto text-center text-md-start">
                <div class="copyright">
                    &copy; Copyright <strong><span>Paradigmas</span></strong>. Todos los derechos reservados
                </div>
                
            </div>
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            </div>
        </div>
    </div>
  </footer>
  <!-- End Footer -->
  
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>
  <script src="/assets/vendor/jquery/jquery-3.6.1.min.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>

  <!-- FB TRACKING CODE -->
  <!-- <script>fbq('track', 'AddToCart');</script> -->

  <!-- STRIPE JS CODE -->
  <script src="https://js.stripe.com/v3/"></script>


  <script>
    $(function(){
      const params = new URLSearchParams(window.location.search);
      if(params.get('utm_source')) localStorage['utm-source'] = params.get('utm_source'); 
      if(params.get('utm_medium')) localStorage['utm-medium'] = params.get('utm_medium');
      if(params.get('utm_campaign')) localStorage['utm-campaign'] = params.get('utm_campaign');
      if(params.get('utm_content')) localStorage['utm-content'] = params.get('utm_content');
      if(params.get('adname')) localStorage['adname'] = params.get('adname');

      // STRIPE KEY
      // --- TEST
      // var stripe = Stripe('pk_test_51LnurLHZ3J4tD2uVwPLfdpPNBe7xQfHMvR9xswX8sRRhCWQO19Q3Zu9DBh8TOQ69Ez3sGpfOLH70vYxPd8ybVzKC00vodEdBpC');
      // --- LIVE
      var stripe = Stripe('pk_live_51LnurLHZ3J4tD2uVszDxYQhu4Aadf06hfvpcx8dVFNKzP4avqWa2nkl5lCbpZxisXpDrLzktubsO7KZPsasRWm1h004RiDX73C');

      $('#email-form').submit(function() {
        // alert("Hello! I am an alert box!");
        // fbq('track', 'InitiateCheckout');
        $('#loading-modal').css('display', 'block'); // VER ESTO DE ACA
        // $('input').blur();
        console.log('sending data');
        
        $.ajax({
          url: $('#email-form').attr('action'),
          type: "post",
          data: { 
            name: $('#name').val(),
            lastname: $('#lastname').val(), 
            email: $('#email').val(),
            'cart-code': '{{ store.slug }}',
            'gateway': $("input[name='MediodePago']:checked").val() || $("input[name='MediodePago']").val(),
            'geo-country': $('#geo-country').val(),
            'geo-region': $('#geo-region').val(),
            'geo-city': $('#geo-city').val(),
            'utm-source': localStorage['utm-source'],
            'utm-medium': localStorage['utm-medium'],
            'utm-campaign': localStorage['utm-campaign'],
            'utm-content': localStorage['utm-content'],
            'adname': localStorage['adname'],
            'upsale-1': $('#upsale-1').prop('checked'),
            'upsale-2': $('#upsale-2').prop('checked'),
            'exito': 'si',
            'user-agent': navigator.userAgent,
          },
          success: function(data, textStatus, xhr) {
            if (xhr.status == 200) {
              window.location = data; // mercadopago
            } else if (xhr.status == 202) {
              return stripe.redirectToCheckout({ sessionId: data });
            } else {
              $('#loading-modal').css('display', 'none'); // VER ESTO
              alert('Ha ocurrido un error (1), por favor verifique los datos e inténtelo nuevamente.');
            }
          },
          error: function(xhr) {
            $('#loading-modal').css('display', 'none'); // VER ESTO
            alert('Ha ocurrido un error (2), por favor verifique los datos e inténtelo nuevamente.');
          }
        });
        return false;
      });
      $.getJSON("https://ipgeolocation.abstractapi.com/v1/?api_key=c63a3e7fde864dc8b94e9c9d3f5f048b", function(data) {
        $('#geo-country').val(data.country);
        $('#geo-region').val(data.region);
        $('#geo-city').val(data.city);
      })
      function updatePrices() {
        var upsale1 = $('#upsale-1').prop('checked');
        var upsale2 = $('#upsale-2').prop('checked');
        $('.total_wrapper').hide();
        if (!upsale1 && !upsale2) {
          $('.price-1').show();
        } else if (upsale1 && !upsale2) {
          $('.price-2').show();
        } else if (!upsale1 && upsale2) {
          $('.price-3').show();
        } else {
          $('.price-4').show();
        }
      }
      updatePrices();
      $('#upsale-2').change(updatePrices);
      $('#upsale-1').change(updatePrices);
      $('.format-number').each(function(i, e) {
        var formated = $(e).text().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        $(e).text(formated);
      });
    });
  </script>

  

  
  
</body>
</html>