---
pagination:
    data: tiendas
    size: 1
    alias: store
permalink: "comprar/{{ store.slug }}/"
---
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <title>Comprar {{ store.titulo }} | Paradigmas</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="{{ store.titulo }}. {{ store.subtitulo }}. {{ store.beneficios }}." name="description">
  <meta content="" name="keywords">
  <!-- Meta OG -->
  <meta property="og:title" content="{{ store.titulo }}">
  <meta property="og:description" content="{{ store.descripcion }}.{{ store.beneficios }}">
  <meta property="og:image" content="/images/isotipo_paradigmas.png">
  <meta property="og:type" content="website">
  <!-- Favicons -->
  <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">
  <!-- =======================================================
      * Template Name: Techie - v4.9.0
      * Template URL: https://bootstrapmade.com/techie-free-skin-bootstrap-3/
      * Author: BootstrapMade.com
      * License: https://bootstrapmade.com/license/
  ======================================================== -->  
</head>
<body>
  
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo"><a href="/index.html">Paradigmas</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">Nosotros</a></li>
          <li><a class="nav-link scrollto" href="#services">Habilidades</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Productos</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contacto</a></li>
          <li><a class="getstarted scrollto" href="#about">Ver más</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container-fluid" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Entrená tu mente</h1>
          <h2>Los mejores cuadernillos hechos por un equipo de pofresionales líderes.</h2>
          <div><a href="/tienda/alfa-{{ home.slug }}" class="btn-get-started scrollto">Ver más</a></div>
        </div>
        <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
          <img src="/assets/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Mi Carrito</h2>
        <p class="">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>
      <form id="email-form" name="email-form" data-name="Email Form" method="post" action="https://hook.us1.make.com/n14b8s2eq0nksvgevavopxyck8xt7fxt">  
        <div class="row">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <h3>Resumen de tu compra</h3>
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-row">
                    <div class="col nombre">
                      <p class="item-title">{{ store.titulo }}</p>
                    </div>
                    <div class="col precio text-end">
                      <p class="item-price"><span>{{ store.simbolo }}</span><span class="format-number">{{ store.precio-original }}</span></p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mt-3">
                <div class="card-body">
                  <div class="d-flex flex-row">
                    <div class="col promo">
                      <p class="item-discount">PROMO <span>{{ store.descuento-porcentual }}</span>% OFF</p>
                    </div>
                    <div class="col precio text-end">
                      <p class="item-price">-<span>{{ store.simbolo }}</span><span class="format-number">{{ store.descuento-neto }}</span></p>
                    </div>
                  </div>
                </div>
              </div>

              {% if store.valor-upsale-1 > 0 %}
              <div class="card mt-3">
                <div class="card-body">
                  <p class="item-title">¿Quieres sumar esta oferta exclusiva a tu compra?</p>

                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                  </div>
                  
                  <div class="d-flex flex-row">
                    <div class="col item-title">
                      <input type="checkbox" id="upsale-1" name="upsale-1" data-name="upsale-1"><span for="upsale-1" class="checkbox-label w-form-label">{{ store.titulo-upsale-1 }}</span>
                    </div>
                    <div class="col item-price text-end">
                      <span>+</span>
                      <span>{{ store.simbolo }}</span>
                      <span>{{ store.valor-upsale-1 }}</span>
                    </div>
                  </div>

                  <div class="row">
                    <div class="">
                      <p>{{ store.texto-upsale-1 }}</p>
                    </div>
                  </div>

                  {% if store.valor-upsale-2 > 0 %}


                  <div class="d-flex flex-row">
                    <div class="col item-title">
                      <input type="checkbox" id="upsale-2" name="upsale-2" data-name="upsale-2"><span for="upsale-2" class="checkbox-label w-form-label">{{ store.titulo-upsale-2 }}</span>
                    </div>
                    <div class="col item-price text-end">
                      <span>+</span>
                      <span>{{ store.simbolo }}</span>
                      <span>{{ store.valor-upsale-2 }}</span>
                    </div>

                  </div>

                  <div class="row">
                    <div class="">
                      <p>{{ store.texto-upsale-2 }}</p>
                    </div>
                  </div>

                  {% endif %}

                </div>
                
              </div>
              {% endif %}


              <div class="total">
                <div class="total_wrapper price-1">
                  <span>TOTAL:</span>
                  <span>{{store.simbolo}}</span>
                  <span>{{store.precio-total-1}}</span>
                </div>

                <div class="total_wrapper price-2">
                  <span>TOTAL:</span>
                  <span>{{store.simbolo}}</span>
                  <span>{{store.precio-total-2}}</span>
                </div>

                <div class="total_wrapper price-3">
                  <span>TOTAL:</span>
                  <span>{{store.simbolo}}</span>
                  <span>{{store.precio-total-3}}</span>
                </div>

                <div class="total_wrapper price-4">
                  <span>TOTAL:</span>
                  <span>{{store.simbolo}}</span>
                  <span>{{store.precio-total-4}}</span>
                </div>

                <p>Pago por única vez</p>
                <p>Precios expresados en <span>{{store.moneda}}</span></p>
              </div>

              

              
            
              

            </div>
          </div>
          
          
          <div class="col-lg-6">
            <h3>Ingresa tus datos</h3>
            <div class="w-embed">
              <input type="hidden" name="cart-code" value="{{ store.slug }}">
              <input type="hidden" id="geo-country" name="geo-country" value="">
              <input type="hidden" id="geo-region" name="geo-region" value="">
              <input type="hidden" id="geo-city" name="geo-city" value="">
            </div>
            <div class="form-group">
              <label for="name">Nombre</label>
              <input type="text" name="name" id="name" placeholder="Nombre *" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="lastname">Apellido</label>
              <input type="text" name="lastname" id="lastname" placeholder="Apellido *" class="form-control" required>
            </div>
            <h4 class="mt-3">¿Dónde deseas recibir tu Cuadernillo?</h4>

            <div class="form-group">
              <label for="email">Dirección de Email</label>
              <!-- <input type="email" name="email" id="email" aria-describedby="emailHelp" placeholder="Email *" class="form-control" required> -->
              <input type="email" name="email" id="email" aria-describedby="emailHelp" placeholder="Email *" class="form-control">
              <small id="emailHelp" class="form-text text-muted">No compartiremos tu email con nadie.</small>
            </div>

            {% assign options = store | hasPaymentOptions %}
            {% if options %}
            <p>Elige la forma de pago</p>
            <input type="radio" checked data-name="MediodePago" id="Tarjeta" name="MediodePago"  value="Stripe"><span for="Tarjeta">Tarjeta de Crédito / Débito</span>
            <br>
            <input type="radio" data-name="MediodePago" id="Paypal" name="MediodePago"  value="Paypal"><span for="Paypal">Paypal</span>

            

            {% elsif store.pais == "ars" %}
            <input type="hidden" name="MediodePago" value="Mercadopago">
            {% else %}
            <input type="hidden" name="MediodePago" value="Stripe">
            {% endif %}

            <br>

            <button type="submit" class="btn btn-primary">Comprar</button>
          </div>
        
        </div>
      
      
      
      </form>




        

        

      </div>

    </div>
  </section><!-- End Contact Section -->

  <!-- ======= Producto Section ======= -->
  <section id="features" class="features">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>{{ store.titulo }}</h2>
            <p>{{ store.subtitulo }}</p>
        </div>

        <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column align-items-lg-center">
                <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
                    <i class="bx bx-receipt"></i>
                    <h4>{{ store.beneficios1 }}</h4>
                    <p>{{ store.descripcion }}</p>
                </div>
                <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="200">
                    <i class="bx bx-cube-alt"></i>
                    <h4>{{ store.beneficios2 }}</h4>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                </div>
                <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="300">
                    <i class="bx bx-images"></i>
                    <h4>{{ store.beneficios3 }}</h4>
                    <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                </div>
                <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="400">
                    <i class="bx bx-shield"></i>
                    <h4>{{ store.beneficios4 }}</h4>
                    <p>Expedita veritatis consequuntur nihil tempore laudantium vitae denat pacta</p>
                </div>
                <div class="">
                    <p>Comprar con descuento</p>
                    <div class="current-price">{{  store.simbolo  }} <span class="format-number">{{ store.precio-total-1 }}</span></div>
                    <div class="old-price"><del>{{ store.simbolo }} <span class="format-number">{{ store.precio-original }}</span></del></div>
                    <div class="p region">{{ store.moneda }}s</div>
                    <a href="/comprar/{{ store.slug }}" class="btn_light w-button">Comprar Ahora</a>

                </div>
            </div>
            <div class="image col-lg-6 order-1 order-lg-2 " data-aos="zoom-in" data-aos-delay="100">
                <img src="/assets/img/productos/alfa.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
  </section><!-- End Producto Section -->


  
  
  
  
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Paradigmas</h3>
            <p>
              <strong>WhatsApp:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> hola@paradigmas.digital<br>
            </p>
          </div>
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Links útiles</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Nosotros</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Beneficios</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Términos y condiciones</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Política de privacidad</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nuestros servicios</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Unite a nuestro Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribirse">
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="copyright-wrap d-md-flex py-4">
        <div class="me-md-auto text-center text-md-start">
          <div class="copyright">
            &copy; Copyright <strong><span>Paradigmas</span></strong>. Todos los derechos reservados
          </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->
  
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>
  <script src="/assets/vendor/jquery/jquery-3.6.1.min.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>

  <!-- FB TRACKING CODE -->
  <!-- <script>fbq('track', 'AddToCart');</script> -->

  <!-- STRIPE JS CODE -->
  <script src="https://js.stripe.com/v3/"></script>


  <script>
    $(function(){
      const params = new URLSearchParams(window.location.search);
      if(params.get('utm_source')) localStorage['utm-source'] = params.get('utm_source'); 
      if(params.get('utm_medium')) localStorage['utm-medium'] = params.get('utm_medium');
      if(params.get('utm_campaign')) localStorage['utm-campaign'] = params.get('utm_campaign');
      if(params.get('utm_content')) localStorage['utm-content'] = params.get('utm_content');
      if(params.get('adname')) localStorage['adname'] = params.get('adname');

      // STRIPE KEY
      var stripe = Stripe('pk_test_51LnurLHZ3J4tD2uVwPLfdpPNBe7xQfHMvR9xswX8sRRhCWQO19Q3Zu9DBh8TOQ69Ez3sGpfOLH70vYxPd8ybVzKC00vodEdBpC');

      $('#email-form').submit(function() {
        // alert("Hello! I am an alert box!");
        // fbq('track', 'InitiateCheckout');
        // $('#loading-modal').css('display', 'flex'); // VER ESTO DE ACA
        // $('input').blur();
        console.log('sending data');
        
        $.ajax({
          url: $('#email-form').attr('action'),
          type: "post",
          data: { 
            name: $('#name').val(),
            lastname: $('#lastname').val(), 
            email: $('#email').val(),
            'cart-code': '{{ store.slug }}',
            'gateway': $("input[name='MediodePago']:checked").val() || $("input[name='MediodePago']").val(),
            'geo-country': $('#geo-country').val(),
            'geo-region': $('#geo-region').val(),
            'geo-city': $('#geo-city').val(),
            'utm-source': localStorage['utm-source'],
            'utm-medium': localStorage['utm-medium'],
            'utm-campaign': localStorage['utm-campaign'],
            'utm-content': localStorage['utm-content'],
            'adname': localStorage['adname'],
            'upsale-1': $('#upsale-1').prop('checked'),
            'upsale-2': $('#upsale-2').prop('checked'),
            'exito': 'si',
            'user-agent': navigator.userAgent,
          },
          success: function(data, textStatus, xhr) {
            if (xhr.status == 200) {
              window.location = data; // mercadopago
            } else if (xhr.status == 202) {
              return stripe.redirectToCheckout({ sessionId: data });
            } else {
              $('#loading-modal').css('display', 'none'); // VER ESTO
              alert('Ha ocurrido un error (1), por favor verifique los datos e inténtelo nuevamente.');
            }
          },
          error: function(xhr) {
            $('#loading-modal').css('display', 'none'); // VER ESTO
            alert('Ha ocurrido un error (2), por favor verifique los datos e inténtelo nuevamente.');
          }
        });
        return false;
      });
      $.getJSON("https://ipgeolocation.abstractapi.com/v1/?api_key=c63a3e7fde864dc8b94e9c9d3f5f048b", function(data) {
        $('#geo-country').val(data.country);
        $('#geo-region').val(data.region);
        $('#geo-city').val(data.city);
      })
      function updatePrices() {
        var upsale1 = $('#upsale-1').prop('checked');
        var upsale2 = $('#upsale-2').prop('checked');
        $('.total_wrapper').hide();
        if (!upsale1 && !upsale2) {
          $('.price-1').show();
        } else if (upsale1 && !upsale2) {
          $('.price-2').show();
        } else if (!upsale1 && upsale2) {
          $('.price-3').show();
        } else {
          $('.price-4').show();
        }
      }
      updatePrices();
      $('#upsale-2').change(updatePrices);
      $('#upsale-1').change(updatePrices);
      $('.format-number').each(function(i, e) {
        var formated = $(e).text().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        $(e).text(formated);
      });
    });
  </script>

  
  
</body>
</html>